[mariadb]
type=server
address=mariadb
port=3306
protocol=MariaDBBackend
priority=1

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=mariadb
user=maxscale
password=maxscale
monitor_interval=2000ms

[Read-Only-Service]
type=service
router=readconnroute
servers=mariadb
user=maxscale
password=maxscale
router_options=slave
localhost_match_wildcard_host=true

[Read-Write-Service]
type=service
router=readwritesplit
servers=mariadb
user=maxscale
password=maxscale
localhost_match_wildcard_host=true

[Read-Only-Listener]
type=listener
service=Read-Only-Service
protocol=MariaDBClient
port=4008
address=0.0.0.0

[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MariaDBClient
port=4006
address=0.0.0.0

